autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cloudscraper==1.2.58
colorama==0.4.4
idna==2.10
pycodestyle==2.7.0
pyparsing==2.4.7
python-dotenv==0.17.1
requests==2.25.1
requests-toolbelt==0.9.1
toml==0.10.2
urllib3==1.26.5
